* {
	box-sizing: border-box;
}

body {
	background: #111;
	min-height: 100vh;
	padding: 0;
	margin: 0;
}

.gallery {
	position: absolute;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.cards {
	position: absolute;
	width: 34rem;
	height: 18rem;
	top: 65%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.cards li {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 34rem;
	height: 18rem;
	text-align: center;
	line-height: 18rem;
	font-size: 2rem;
	background-color: #150133;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 0.8rem;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 30px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
	background-color: rgba(53, 47, 47, 0.516);
	backdrop-filter: blur(60px);
	-webkit-backdrop-filter: blur(10px);
	border-radius: 10px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo {
	color: white;
	font-size: 24px;
	font-weight: bold;
}

.nav-links {
	list-style: none;
	display: flex;
	margin: 0;
}

.nav-links li {
	margin-left: 20px;
}

.nav-links a {
	color: white;
	text-decoration: none;
	font-size: 18px;
	transition: color 0.3s ease;
}

.nav-links a:hover {
	color: #FFD700;
}
